html, body {
    height: 100%;
    margin: 0;
}
header {
    margin-top: 0;
    margin-bottom: 30px;
    min-height: 50px;
    min-width: 100%;
    max-width: 100vw;
    background-color: #eee;
    border-bottom: 1px solid #aaa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header > #header_title {
    margin-left: 10px;
}
header > #header_page_box {
    margin: auto 10px auto;
}
header > #header_authbox {
    margin: auto 10px auto auto;
}
main {
    margin: auto;
    max-width: 800px;
}
#write_box {
    background: green;
    display: flex;
    flex-direction: column;
    gap: 0;
}
#write_box > #write_post_title_textbox {
    margin: 0;
    font-size: 20px;
}
#write_box > #write_post_content_textbox {
    margin: 0;
    min-height: 100px;
    resize: vertical;
}

#post_index_box {
    display: flex;
    justify-content: center;
}
#post_index_box > span {
    margin: 10px;
    font-size: 17px;
    text-decoration: underline;
    cursor: pointer;
}

#write_etc_box {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3px;
}

.popup_box_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup_box {
    width: 300px;
    background: white;
    box-shadow: black 0px 1px 8px 0px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.selected {
    color: blue;
    font-weight: bold;
}

.inline {
    display: inline;
}
.link {
    text-decoration: underline;
    cursor: pointer;
    font-weight: normal;
}

.header_btn {
    text-decoration: underline;
    cursor: pointer;
    font-weight: normal;
}

.page_selected {
    color: blue;
    font-weight: bold;
}
